---
type Props = {
  progress: number;
};

const { progress } = Astro.props;
---

<div class="kn-progress" style={{ "--progress": progress * 100 + "%" }}></div>

<style is:global>
  .kn-progress {
    --progress-height: 0.7rem;
    --progress-border-width: 2px;

    background-color: theme("colors.white");
    border-style: solid;
    border-width: var(--progress-border-width);
    height: var(--progress-height);
    width: 100%;

    :where(html.dark) & {
      background-color: theme("colors.zinc.900");
    }

    &::after {
      content: "";
      display: block;
      background-color: theme("colors.teal.500");
      height: calc(var(--progress-height) - (var(--progress-border-width) * 2));
      width: var(--progress, 0%);
    }
  }
</style>
