.timeline {
  @apply relative;
  @apply flex flex-col;
  @apply pb-8 pl-8;

  &:last-child {
    & .line {
      height: calc(100% - 3rem);

      &::after {
        content: "";
        background-color: var(--line-color);
        @apply absolute -left-0.5 bottom-0;
        @apply block h-[5px] w-[5px];
        @apply rounded-full;
      }
    }
  }
}

.line {
  @apply h-full w-px;
  @apply absolute left-2 top-3.5;
  background-color: var(--line-color);

  --line-color: theme("colors.zinc.400");

  :where(html:global(.dark)) & {
    --line-color: theme("colors.zinc.700");
  }
}

.bullet {
  @apply relative left-0 top-0;

  --bullet-color: theme("colors.white");
  --shadow-color: theme("colors.teal.500 / 50%");
  --shadow-pulse-color: theme("colors.teal.500 / 30%");

  :where(html:global(.dark)) & {
    --bullet-color: theme("colors.black");
    --shadow-color: theme("colors.teal.500 / 40%");
    --shadow-pulse-color: theme("colors.teal.500 / 25%");
  }

  &::before,
  &::after {
    content: "";
    @apply block;
    @apply rounded-full;
    @apply absolute-center;
  }

  &::before {
    @apply h-2.5 w-2.5;
    background-color: theme("colors.teal.500");
    box-shadow: 0 0 0 4px var(--shadow-color);
    animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  &::after {
    @apply h-[5px] w-[5px];
    background-color: var(--bullet-color);
  }
}

@keyframes pulse {
  50% {
    box-shadow: 0 0 0 4px var(--shadow-pulse-color);
  }
}

.description {
  & ul {
    @apply list-disc pl-5;
    @apply space-y-1.5;
  }

  & > strong {
    @apply leading-8;
  }
}
