.container {
  display: grid;
  gap: 16px;

  @media (min-width: 769px) and (max-width: 1024px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1121px) {
    grid-template-columns: 1fr 1fr;
  }
}

.field {
  &,
  & input,
  & textarea {
    width: 100%;
    min-width: 0;
  }
}

.msgBox {
  display: flex;
  flex-direction: column;

  @media (min-width: 769px) and (max-width: 1024px) {
    grid-row: 1 / 4;
    grid-column: 2 / -1;
  }

  @media (min-width: 1121px) {
    grid-row: 1 / 4;
    grid-column: 2 / -1;
  }
}

.spanRow {
  grid-column: 1 / -1;
  justify-self: start;
}
