.container {
  position: relative;
  display: inline-block;
  background-color: #222;
  border: 1px solid #04b4e0;
  border-radius: 8px;
  box-sizing: border-box;
  height: 10px;
  margin-bottom: 12px;
  width: 100%;

  &:before {
    content: "";
    position: absolute;
    background-color: #04b4e0;
  }
}

.progress {
  background-color: #04b4e0;
  border: 2px solid #222;
  border-radius: 9px;
  height: 8px;
  padding: 0;

  transition: all 2s ease-in-out;
}
