@font-face {
  font-family: "TransducerCondensed";
  src:
    url("Transducer-HairlineCondensed.woff2") format("woff2"),
    url("Transducer-HairlineCondensed.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TransducerCondensed";
  src:
    url("Transducer-Condensed.woff2") format("woff2"),
    url("Transducer-Condensed.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TransducerCondensed";
  src:
    url("Transducer-MediumCondensed.woff2") format("woff2"),
    url("Transducer-MediumCondensed.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TransducerCondensed";
  src:
    url("Transducer-BoldCondensed.woff2") format("woff2"),
    url("Transducer-BoldCondensed.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TransducerCondensed";
  src:
    url("Transducer-BlackCondensed.woff2") format("woff2"),
    url("Transducer-BlackCondensed.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
