@font-face {
  font-family: "TransducerExtended";
  src:
    url("Transducer-HairlineExtended.woff2") format("woff2"),
    url("Transducer-HairlineExtended.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TransducerExtended";
  src:
    url("Transducer-Extended.woff2") format("woff2"),
    url("Transducer-Extended.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TransducerExtended";
  src:
    url("Transducer-MediumExtended.woff2") format("woff2"),
    url("Transducer-MediumExtended.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TransducerExtended";
  src:
    url("Transducer-BoldExtended.woff2") format("woff2"),
    url("Transducer-BoldExtended.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TransducerExtended";
  src:
    url("Transducer-BlackExtended.woff2") format("woff2"),
    url("Transducer-BlackExtended.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
