@font-face {
  font-family: "TransducerExtendedOblique";
  src:
    url("Transducer-HairlineExtendedOblique.woff2") format("woff2"),
    url("Transducer-HairlineExtendedOblique.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TransducerExtendedOblique";
  src:
    url("Transducer-ExtendedOblique.woff2") format("woff2"),
    url("Transducer-ExtendedOblique.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TransducerExtendedOblique";
  src:
    url("Transducer-MediumExtendedOblique.woff2") format("woff2"),
    url("Transducer-MediumExtendedOblique.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TransducerExtendedOblique";
  src:
    url("Transducer-BoldExtendedOblique.woff2") format("woff2"),
    url("Transducer-BoldExtendedOblique.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TransducerExtendedOblique";
  src:
    url("Transducer-BlackExtendedOblique.woff2") format("woff2"),
    url("Transducer-BlackExtendedOblique.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
