@font-face {
  font-family: "Transducer";
  src:
    url("Transducer-Hairline.woff2") format("woff2"),
    url("Transducer-Hairline.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Transducer";
  src:
    url("Transducer-Regular.woff2") format("woff2"),
    url("Transducer-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Transducer";
  src:
    url("Transducer-Medium.woff2") format("woff2"),
    url("Transducer-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Transducer";
  src:
    url("Transducer-Bold.woff2") format("woff2"),
    url("Transducer-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Transducer";
  src:
    url("Transducer-Black.woff2") format("woff2"),
    url("Transducer-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
