@font-face {
  font-family: "Transducer";
  src:
    url("./files/Hairline.woff2") format("woff2"),
    url("./files/Hairline.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Transducer";
  src:
    url("./files/Regular.woff2") format("woff2"),
    url("./files/Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Transducer";
  src:
    url("./files/Medium.woff2") format("woff2"),
    url("./files/Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Transducer";
  src:
    url("./files/Bold.woff2") format("woff2"),
    url("./files/Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Transducer";
  src:
    url("./files/Black.woff2") format("woff2"),
    url("./files/Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
