.inputContainer {
  @apply mb-1.5 w-full border-2 p-2.5;
  @apply cursor-text;
  @apply focus-within:ring-2 focus-within:ring-purple-400;

  &,
  & > .input {
    background-color: theme("colors.white");

    :where(html:global(.dark)) & {
      background-color: theme("colors.black");
    }
  }
}

.inputContainerError {
  @apply ring-2 ring-red-400;
}

.input {
  @apply h-full w-full;
  @apply focus:outline-none;

  :where(html:global(.dark)) & {
    &::placeholder {
      color: theme("colors.zinc.400");
    }
  }

  &:-webkit-autofill {
    &,
    &:hover,
    &:focus,
    &:active {
      -webkit-background-clip: text;
      -webkit-text-fill-color: theme("colors.black");
      box-shadow: 0 0 0px 1000px theme("colors.purple.100") inset;
      font-family: theme("fontFamily.transducer");
      transition: background-color 5000s ease-in-out 0s;

      .inputContainer:has(&) {
        background-color: theme("colors.purple.100");
      }
    }
  }
}
