@font-face {
  font-family: "TransducerCondensed";
  src:
    url("/fonts/transducer/HairlineCondensed.woff2") format("woff2"),
    url("/fonts/transducer/HairlineCondensed.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TransducerCondensed";
  src:
    url("/fonts/transducer/Condensed.woff2") format("woff2"),
    url("/fonts/transducer/Condensed.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TransducerCondensed";
  src:
    url("/fonts/transducer/MediumCondensed.woff2") format("woff2"),
    url("/fonts/transducer/MediumCondensed.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TransducerCondensed";
  src:
    url("/fonts/transducer/BoldCondensed.woff2") format("woff2"),
    url("/fonts/transducer/BoldCondensed.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TransducerCondensed";
  src:
    url("/fonts/transducer/BlackCondensed.woff2") format("woff2"),
    url("/fonts/transducer/BlackCondensed.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
