@font-face {
  font-family: "TransducerCondensedOblique";
  src:
    url("./files/HairlineCondensedOblique.woff2") format("woff2"),
    url("./files/HairlineCondensedOblique.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TransducerCondensedOblique";
  src:
    url("./files/CondensedOblique.woff2") format("woff2"),
    url("./files/CondensedOblique.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TransducerCondensedOblique";
  src:
    url("./files/MediumCondensedOblique.woff2") format("woff2"),
    url("./files/MediumCondensedOblique.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TransducerCondensedOblique";
  src:
    url("./files/BoldCondensedOblique.woff2") format("woff2"),
    url("./files/BoldCondensedOblique.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TransducerCondensedOblique";
  src:
    url("./files/BlackCondensedOblique.woff2") format("woff2"),
    url("./files/BlackCondensedOblique.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
