@font-face {
  font-family: "TransducerExtended";
  src:
    url("/fonts/transducer/HairlineExtended.woff2") format("woff2"),
    url("/fonts/transducer/HairlineExtended.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TransducerExtended";
  src:
    url("/fonts/transducer/Extended.woff2") format("woff2"),
    url("/fonts/transducer/Extended.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TransducerExtended";
  src:
    url("/fonts/transducer/MediumExtended.woff2") format("woff2"),
    url("/fonts/transducer/MediumExtended.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TransducerExtended";
  src:
    url("/fonts/transducer/BoldExtended.woff2") format("woff2"),
    url("/fonts/transducer/BoldExtended.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TransducerExtended";
  src:
    url("/fonts/transducer/BlackExtended.woff2") format("woff2"),
    url("/fonts/transducer/BlackExtended.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
