.container {
  display: grid;
  gap: 30px;

  @media only screen and (min-width: 666px) {
    grid-template-columns: minmax(230px, 1fr) 2.3fr;
    grid-template-rows: auto auto;
  }
}

.howCanIHelpYou {
  justify-self: start;
}

.infoBlock {
  position: relative;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #333;
  padding: 20px 10px;
  border: 1px solid #444;
  box-shadow: none;
  overflow: hidden;
  transition: all 0.2s ease-in-out;

  & i {
    position: relative;
    font-size: 33px;
    color: #04b4e0;
    z-index: 1;
  }

  & h4 {
    font-size: 15px;
    margin-top: 8px;
  }
}

.left {
  display: grid;
  row-gap: 15px;
  margin-bottom: 15px;

  @media only screen and (min-width: 666px) {
    grid-row: 1 / -1;
  }
}

.map {
  @media only screen and (max-width: 665px) {
    height: 220px;
  }
}
