.shimmer {
  position: relative;
  background: #3a3a3a;
  background-image: linear-gradient(
    to right,
    #3a3a3a 0%,
    #3f3f3f 10%,
    #4a4a4a 20%,
    #3f3f3f 30%,
    #3a3a3a 50%,
    #3a3a3a 100%
  );
  background-repeat: no-repeat;
  background-size: 800px 200px;

  /* Animantion */
  animation-duration: 1s;

  /* Specifies style for element when animation isn't playing */
  animation-fill-mode: forwards;

  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: ease-in-out;
}

@keyframes shimmer {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}
