.card {
  @apply flex flex-1 flex-col items-center;
  @apply rounded-lg border-2 text-center;
  @apply p-8 md:p-10 lg:p-12;

  transform: translate3d(-1px, -1px, 0);

  :where(html:global(.dark)) & {
    box-shadow: 0 0 #0000;
    transform: translate3d(0, 0, 0);
  }
}
