---
import TheBadge from "@/components/TheBadge";
import TheButton from "@/components/TheButton";
import Layout from "@/layouts/Layout.astro";
import styles from "./index.module.css";
---

<Layout>
  <div class="flex-center relative -top-4 flex-1 flex-col p-4 text-center">
    <h1 class="font-transducer-extended">
      <TheBadge
        component="span"
        color="zinc"
        border="sm"
        shadow="sm"
        rounded
        class:list={[
          "mb-5 inline-flex md:mb-6",
          "px-2.5 py-px md:px-3.5 md:py-0.5",
          "text-sm md:text-base",
          "md:brutal-shadow md:border-2",
        ]}
      >
        <span>Nurliman Diara</span>
        <span class="absolute text-transparent">:</span>
      </TheBadge>
      <br />
      <span class={styles.hero}>Crafting Digital</span>
      <br />
      <span class={styles.hero}>Experiences</span>
    </h1>
    <div class="h-5 md:h-8"></div>
    <p class="text-sm sm:text-xl">
      <span>Simple Solutions with a Significant Purpose,</span>
      <br class="hidden sm:block" />
      <span>Navigating the Landscape of Digital Development.</span>
    </p>
    <div class="h-8 md:h-10"></div>
    <div class="flex flex-row items-center">
      <TheButton
        client:load
        class:list={[styles.btn, "mr-4 md:mr-6"]}
        component="a"
        border
        shadow
        color="teal"
        href="/about-me"
      >
        Explore
      </TheButton>
      <TheButton client:load component="a" border shadow href="/contact" class={styles.btn}>
        Contact
      </TheButton>
    </div>
  </div>
</Layout>
