$_padding-horizontal: 14px;
$_padding-horizontal__icon: 8px;
$_padding-vertical: 16px;
$_floating-label__padding-horizontal: 4px;
$_margin-vertical: 16px;
$_transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
$_transition-duration: 0.4s;
$_border-width: 1px;
$_border-width__active: 2px;
$_icon-size: 24px;
$_icon-margin: 12px;

.outlineInput {
  --border-radius: 4px;
  --color: rgba(0, 0, 0, 0.87);
  --color__secondary: rgba(0, 0, 0, 0.54);
  --color__disabled: rgba(0, 0, 0, 0.38);
  --color__inactive: rgba(0, 0, 0, 0.24);
  --color__border: var(--color__secondary);
  --color__focused: rgb(4, 180, 224);
  --color__error: rgb(213, 0, 0);
  --font-size: 16;
  --label-font-size__active: 12;
  --label-scale-factor: calc(var(--label-font-size__active) / var(--font-size));
  --label-scale-width: calc(
    (100% - #{$_padding-horizontal * 2} - #{$_floating-label__padding-horizontal}) /
      var(--label-scale-factor)
  );

  display: flex;
  flex-direction: column;
}

.fieldWrapper {
  flex: 1;
  align-items: center;
  display: flex;
  flex-direction: row;
  position: relative;

  & input,
  & textarea,
  & label {
    font-size: calc(var(--font-size) * 1px);
  }

  & input,
  & textarea {
    background: transparent;
    border: none;
    color: var(--color);
    padding: $_padding-vertical $_padding-horizontal;
    outline: none;
    width: 100%;
    height: 100%;

    &:-moz-ui-invalid {
      box-shadow: none !important;
    }
  }

  & label {
    color: var(--color__secondary);
    pointer-events: none;
  }

  &:global(._focused) {
    .floatingLabel {
      color: var(--color__focused);
    }

    .borders {
      .topBorders {
        .border {
          border-width: $_border-width__active 0 0;
        }
      }

      .border {
        border-color: var(--color__focused);

        &.bottomBorder {
          border-width: 0 0 $_border-width__active 0;
        }

        &.leftBorder {
          border-width: $_border-width__active 0 $_border-width__active $_border-width__active;
        }

        &.rightBorder {
          border-width: $_border-width__active $_border-width__active $_border-width__active 0;
        }
      }
    }
  }
}

.withFloatingLabel {
  &:global(._focused),
  &:global(._has-value) {
    & .floatingLabel {
      &:not(.referenceLabel) {
        left: $_padding-horizontal;
        max-width: var(--label-scale-width);
        padding: 0 $_floating-label__padding-horizontal 0 0;
        transform: translate3d(0, calc(-100% - var(--label-font-size__active) * 0.5px), 0)
          scale3d(var(--label-scale-factor), var(--label-scale-factor), 1);
      }
    }
  }
}

.withInvalid {
  .borders {
    .border {
      border-color: var(--color__error);
    }
  }

  .floatingLabel {
    color: var(--color__error);
  }
}

.floatingLabel {
  left: $_padding-horizontal;
  line-height: calc((var(--label-font-size__active) * 1px) * 1.45);
  max-width: calc(100% - #{$_padding-horizontal * 2});
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  transition-duration: $_transition-duration;
  transform-origin: 0 0;
  transition-property: color, font-size, padding, transform, max-width, left;
  transition-timing-function: $_transition-timing-function;
  white-space: nowrap;
}

.referenceLabel {
  max-width: var(--label-scale-width);
  padding: 0 $_floating-label__padding-horizontal 0 0;
  transform: scale3d(var(--label-scale-factor), var(--label-scale-factor), 1);
}

.borders {
  display: flex;
  flex-direction: row;
  height: 100%;
  pointer-events: none;
  position: absolute;
  width: 100%;

  & .leftBorder,
  & .rightBorder {
    width: $_padding-horizontal - $_floating-label__padding-horizontal - $_border-width;
  }
}

.border {
  border-color: var(--color__border);
  border-style: solid;
  transition-duration: $_transition-duration;
  transition-property: border-color, width;
  transition-timing-function: $_transition-timing-function;
}

.leftBorder {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  border-width: $_border-width 0 $_border-width $_border-width;
}

.rightBorder {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  border-width: $_border-width $_border-width $_border-width 0;
}

.middleBorders {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  .border {
    flex: 1 1 auto;
    width: 100%;
  }
}

.bottomBorder {
  border-width: 0 0 $_border-width 0;
}

.topBorders {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .border {
    border-width: $_border-width 0 0;
    flex: unset;
  }
}

.hints {
  color: var(--color__secondary);
  display: flex;
  flex-direction: row;
  font-size: 12px;
  margin: 4px 12px 0 12px;

  & :global(.messages) {
    flex: 1 1 auto;
  }

  & :global(.error) {
    color: var(--color__error);
  }
}

.dark {
  &.outlineInput {
    --color: rgb(255, 255, 255);
    --color__secondary: rgba(255, 255, 255, 0.7);
    --color__disabled: rgba(255, 255, 255, 0.3);
    --color__inactive: rgba(255, 255, 255, 0.24);
    --color__border: var(--color__disabled);
    --color__error: rgb(255, 82, 82);
  }
}
