.section {
  position: absolute;
  background-color: transparent;
  height: 100%;
  width: 100%;
  border-radius: 30px;
  padding: 0;
  opacity: 0;
  overflow: auto;
  visibility: hidden;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50%;
  background-size: cover;

  @media only screen and (max-width: 1024px) {
    border-radius: 0;
    overflow: auto !important;
  }

  @media only screen and (min-width: 1025px) {
    border-radius: 0;
  }
}

.inner {
  background-color: #222;
  padding: 60px;
  position: relative;
  height: auto;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  transform: translate3d(0, 0, 0);

  @media only screen and (max-width: 768px) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.active {
  opacity: 1;
  overflow: auto;
  visibility: visible;
  z-index: 99;
}
