.icon {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 16px;
  opacity: 0;
  width: 30px;
  height: 30px;
  background-color: #222;
  color: #04b4e0;
  text-align: center;
  line-height: 30px;
  transition: all 0.3s ease-in-out;
}

:global(.portfolio-grid) figure:hover .icon {
  opacity: 1;
}
