@reference "@app.css";

.timeline {
  @apply relative;
  @apply flex flex-col;
  @apply pb-12 pl-9;

  &:last-child {
    @apply pb-6;

    & .line {
      height: calc(100% - 3rem);

      &::after {
        content: "";
        background-color: var(--line-color);
        @apply absolute bottom-0 -left-0.5;
        @apply block size-1.5;
        @apply rounded-full;
      }
    }
  }
}

.line {
  @apply h-full w-0.5;
  @apply absolute top-3.5 left-2;
  background-color: var(--line-color);

  --line-color: var(--color-zinc-300);

  :where(html:global(.dark)) & {
    --line-color: var(--color-zinc-800);
  }
}

.bullet {
  @apply relative top-0 left-0;

  --bullet-color: var(--color-white);
  --bullet-size: 12px;
  --bullet-inner-size: 4px;
  --shadow-color: --alpha(var(--color-teal-500) / 40%);
  --shadow-pulse-color: --alpha(var(--color-teal-500) / 20%);

  :where(html:global(.dark)) & {
    --bullet-color: var(--color-zinc-950);
    --shadow-color: --alpha(var(--color-teal-500) / 30%);
    --shadow-pulse-color: --alpha(var(--color-teal-500) / 15%);
  }

  &::before,
  &::after {
    content: "";
    @apply block;
    @apply rounded-full;
    @apply absolute-center;
  }

  &::before {
    width: var(--bullet-size);
    height: var(--bullet-size);
    background-color: var(--color-teal-500);
    box-shadow: 0 0 0 4px var(--shadow-color);
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  &::after {
    width: var(--bullet-inner-size);
    height: var(--bullet-inner-size);
    background-color: var(--bullet-color);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--shadow-color);
  }
  70% {
    box-shadow: 0 0 0 6px var(--shadow-pulse-color);
  }
  100% {
    box-shadow: 0 0 0 0 transparent;
  }
}

.description {
  & ul {
    @apply list-disc pl-5;
    @apply space-y-2;
  }

  & > strong {
    @apply leading-10;
  }

  & p {
    @apply mb-2;
  }
}
