@import "tailwind.css";

*,
::before,
::after {
  @media (prefers-color-scheme: dark) {
    border-color: theme("colors.zinc.800");
  }
}

::-moz-selection {
  color: theme("colors.white");
  background: theme("colors.pink.500");
}

::selection {
  color: theme("colors.white");
  background: theme("colors.pink.500");
}
