.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.flex-center {
  @apply flex items-center justify-center;
}

.brutal {
  &-shadow {
    &,
    &-sm {
      --brutal-shadow-height: 1px;
      --brutal-shadow-color: theme("colors.black");
      --brutal-shadow: var(--brutal-shadow-height) var(--brutal-shadow-height) 0;
      box-shadow: var(--brutal-shadow-color) var(--brutal-shadow);

      :where(html.dark) & {
        --brutal-shadow-color: theme("colors.zinc.800");
      }
    }

    &-sm {
      --brutal-shadow-height: 2px;

      &-active:active,
      &.activable:active {
        --brutal-shadow-height: 1px;
        transform: translate3d(1px, 1px, 0px);
      }
    }

    & {
      --brutal-shadow-height: 4px;

      &-active:active,
      &.activable:active {
        --brutal-shadow-height: 1px;
        transform: translate3d(3px, 3px, 0px);
      }
    }
  }
}

.no-drag {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
}

.no-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
